<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="tailwind.css">
    <link rel="stylesheet" href="index.css">
    <script src="htmx.min.js"></script>
    <script src="sortable.min.js"></script>
    <script>
        htmx.onLoad(function (content) {
            var sortables = content.querySelectorAll(".sortable");
            for (var i = 0; i < sortables.length; i++) {
                new Sortable(sortables[i], {
                    group: 'shared',
                    onEnd: function (evt) {
                        // sortable only triggers for the source list, not the destination
                        // so need to trigger the event manually here
                        htmx.trigger(evt.to.closest('form'), "end");
                    }
                });
            }
        })
    </script>
    <title>norush</title>
</head>

<body class="bg-gray-100">
    <h1>norush</h1>
    <a href="/logout">Logout</a>
    <div id="board" hx-get="/board" hx-trigger="load" hx-target="#board" hx-swap="outerHTML"></div>
</body>

</html>
